#member1 {
  background-image: url(../images/member1.jpeg);
}

#member2 {
  background-image: url(../images/member2.jpeg);
}

#member3 {
  background-image: url(../images/member3.jpeg);
}

#member4 {
  background-image: url(../images/member4.jpeg);
}

#member5 {
  background-image: url(../images/member5.jpeg);
}

#member6 {
  background-image: url(../images/member6.jpeg);
}