<footer class="block md:flex md:flex-wrap md:items-center md:justify-between bg-brown-dark mt-100 min-h-100 py-0 px-10">
    <a href="./index.html"><img class="logo" src="./assets/images/logo.webp"></a>
    <ul class="md:inline">
        <li class="inline px-5"><a class="nav-link" href="./index.html">Inici</a></li>
        <li class="inline px-5"><a class="nav-link" href="./about.html">Sobre nosaltres</a></li>
        <li class="inline px-5"><a class="nav-link" href="./members.html">Membres</a></li>
        <li class="inline px-5"><a class="nav-link">Uneix-te</a></li>
    </ul>
    <ul class="md:inline">
        <li class="inline px-5"><a href="https://google.com" target="_blank" class="fa-brands fa-google-plus-g text-white hover:text-brown-light"></a></li>
        <li class="inline px-5"><a href="https://facebook.com" target="_blank" class="fa-brands fa-facebook-f text-white hover:text-brown-light"></a></li>
        <li class="inline px-5"><a href="https://twitter.com/?lang=es" target="_blank" class="fa-brands fa-twitter text-white hover:text-brown-light"></a></li>
    </ul>
</footer>