<header class="block md:flex md:flex-wrap md:items-center md:justify-between min-h-100 py-0 px-1/10 bg-brown-dark">
    <a href="./index.html"><img class="logo" src="./assets/images/logo.webp"></a>
    <ul class="md:inline">
        <li class="inline px-5"><a class="nav-link" href="./about.html">Sobre nosaltres</a></li>
        <li class="inline px-5"><a class="nav-link" href="./members.html">Membres</a></li>
        <li class="inline px-5"><a class="nav-link">Uneix-te</a></li>
    </ul>
</header>